/* sass */

.info {
  font-size: 12px;
}

%extend-info {  // Placeholder selector
  @extend .info !optional; // Use !optional to prevent errors if .info isn't present
}

.success {
  @extend %extend-info;
  color: #00FF00;
}

.warning {
  @extend %extend-info;
  color: #FF0000;
}
